<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <br>
    <h3>以下の内容で、登録します</h3>
    <br>
  
    <%= form_for(@sweet) do |f| %>
      <%= f.hidden_field :content %>
      <%= f.label :スィーツ情報%>
      <p><%= @sweet.content %></p>
      <%= f.submit "登録",class: 'btn btn-primary btn-block' %>
    <% end %>
    <br>
  
    <%= form_for(@sweet, url: new_sweet_path, method: 'get') do |f| %>
      <%= f.hidden_field :content %>
      <%= f.submit "戻る", name: 'back', class: 'btn btn-default btn-block' %>
    <% end %>
  
  </div>
</div>
